:root {
    --primary_color: #033f5f;
    --seconday_color: #007CBC;
    --highlight_color: #FDFAF0;
    --neutral_grey: #747e83;
    --neutral_light: #ffffff;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.img_right {
    float: right;
}

.work {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    /* font-family: sans-serif; */
}
body {
    margin: 0;
}

h1 {
    color: black;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 3rem;
}
h2 {
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 2.5rem;
    font-weight: 100;
}
h3 {
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}
p {
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
img {
    max-width: 100%; /* This makes all your images responsive */
}
a:link, a:visited {
    color: black;
    text-decoration: none;
}
/*
a:hover {
    color: #6e8fc7;
    text-decoration: underline;
}
*/
.name {
    color: black;
    font-family: 'Abril Fatface', cursive;
}
.copyright {
    color: black;
    font-size: .65rem;
}
.grey_text {
    color: var(--neutral_grey);
}

/*
.align {
    
}
*/

ul li {
    display: inline;
    float: right;
}
li {
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
}
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
    margin: 2rem auto;
    width: min(95%, 75rem);
    /* background-color: tan; */
}
.container_lg {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
    margin: 0 auto;
    /* background-color: blue; */
}
.container > *, 
.container_lg > * {
    grid-column: span 12;
}

/* Components */
/* Quantity and Cart button not vertically aligned, fixed with padding */
.quantity {
    color: black;
    text-align: center;
    text-decoration: none;
    padding: .93rem .5rem;
    border: black 1px solid;
    border-radius: 0rem;
    display: inline-block;
    margin: 0 auto 3rem;
    transition: background-color 0.5s ease;
}
.button:link, .button:visited {
    color: white;
    background-color: black;
    text-align: center;
    text-decoration: none;
    padding: 1rem 1.75rem;
    border: black 1px solid;
    border-radius: 0rem;
    display: inline-block;
    margin: 1.5rem .75rem 0;
    transition: background-color 0.5s ease;
}
.button:hover {
    background-color: #333333;
}
.card {
    text-align: center;
    margin: 1rem;
    padding-bottom: 2rem;
    border: black 1px solid;
}
.card-title {
    margin: 0.75rem 0 0 0;
    padding: 0 2rem 0.5rem;
}
.card-text {
    margin: 0.5rem 0 1rem 0;
    padding: 0 2rem 0.5rem;
}

/* Media Queries for larger screens than 768px */
@media screen and (min-width: 48rem) {
    
    .col-span-2 {
        grid-column: span 2;
    }
    .col-span-3 {
        grid-column: span 3;
    }
    .col-span-4 {
        grid-column: span 4;
    }
    .col-span-5 {
        grid-column: span 5;
    }
    .col-span-6 {
        grid-column: span 6; 
    }
    .col-span-7 {
        grid-column: span 7;
    }
    .col-span-8 {
        grid-column: span 8;
    }
    .col-span-9 {
        grid-column: span 9;
    }
    .col-span-10 {
        grid-column: span 10;
    }
    .col-span-11 {
        grid-column: span 11;
    }
    .col-span-12 {
        grid-column: span 12;
    }
} /* Closes the media query */